src/main/mule/implementations/workers-horizontal-scale-decreaseby.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="workers-horizontal-scale-decreaseby" doc:id="8a1b4a22-61ac-4214-8506-1cb0dbaa2d40" >
		<logger level="INFO" doc:name="Logger" doc:id="fe16b5f4-dc06-47f9-b3c5-6f53d3e615ec" message="+#[flow.name]" />
		<ee:transform doc:name="Retain decrements" doc:id="99b39750-dcd8-4787-99ae-55524c6da4fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="decrements" ><![CDATA[%dw 2.0
output application/java
---
payload.muleApps map {
    ($.domain) : $.workers.amount
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="extract-current-worker-details" doc:id="f0a18a8e-a5ff-4880-abb6-a953cc2504f0" name="extract-details-then-enquire-workers"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="e6f19ca8-d2ef-4c34-849a-1f3e81b5c386" collection="#[payload.muleApps]" maxConcurrency="4" >
			<ee:transform doc:name="Get decrement for domain" doc:id="5bd63e1f-739d-418e-bafa-ce6f06b7cbb2" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="worker_decr" ><![CDATA[%dw 2.0
output application/java
---
vars.decrements[payload.domain]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="get domain and worker numbers" doc:id="e39d5418-42ea-411a-a1b4-018c00559abc" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
					<ee:set-variable variableName="workers" ><![CDATA[%dw 2.0
output application/java
---
(payload.workers.amount - vars.worker_decr[0])]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Create request" doc:id="3d2151e3-aee1-4507-a050-6b75b884ab37" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"workers":{
		"amount": vars.workers[0] as Number
	}
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="PUT" doc:name="Request" doc:id="54d0d991-c4d7-486c-ba87-5d747eb0ddeb" config-ref="HTTP_Request_configuration-w-token-mgr" path="#[p('http.request.applications.path') ++ vars.domain]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : p('secure::cloudhub.envId'),
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:request>
		</parallel-foreach>
		<ee:transform doc:name="Filter message" doc:id="93623be7-071f-4b26-8756-af0bb221a637" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	muleApps: payload map (item, index) -> {
		"domain": payload.payload[index].domain,
		"workers": payload.payload[index].workers,
		"status": payload.payload[index].status
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ba250611-e25f-4ab4-9e54-e8f7a76872bd" />
		<logger level="INFO" doc:name="Logger" doc:id="e8c6380d-104a-497f-9109-a1bc842adc5e" message="-#[flow.name]" />
	</flow>
</mule>
