src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9f15e4d8-8204-435b-8551-39334e390e79" >
		<http:request-connection protocol="HTTPS" host="${http.request.host}" port="${http.request.port}">
			<http:authentication >
				<http:basic-authentication username="${secure::cloudhub.username}" password="${secure::cloudhub.password}" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<flow name="get-workers-details" doc:id="f1d3abd0-f5f1-4a81-8ba2-92dbbab005ba" >
		<logger level="INFO" doc:name="Logger" doc:id="7daf1cac-e8a5-42ce-a6b7-5c4956be574c" message="+get-worker-details"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="b9404054-735a-4236-980e-bb46b106a949" collection="#[p('worker-scaling.apps') splitBy(/,/)]" maxConcurrency="4">
			<http:request method="GET" doc:name="Request" doc:id="2652fea0-a80b-4e8a-a183-fb68103823da" config-ref="HTTP_Request_configuration" path="#[p('http.request.applications.path') ++ payload]">
				<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : p('secure::cloudhub.envId')
}]]]></http:headers>
			</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="0b2db9ed-ca2d-4476-a429-78bd46c4807d" message="domain: #[payload.domain] -- workers: #[payload.workers]"/>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="05f7d396-ffb7-4ad5-9aa1-b71ce4403fee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	muleApps: payload map (item, index) -> {
		"domain": payload.payload[index].domain,
		"workers": payload.payload[index].workers,
		"status": payload.payload[index].status
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="169f6676-efcd-4d1f-b660-c270d79d7000" />
		<logger level="INFO" doc:name="Logger" doc:id="2549e67c-b3c9-4906-9f87-d835de03c26f" message="-get-worker-details"/>
	</flow>
	<flow name="workers-horizontal-scale" doc:id="666d92fb-e48a-45e5-9a66-fa4fd45ab1b8" >
		<logger level="INFO" doc:name="" doc:id="08cdff7b-cff9-4991-8186-8282d9160aa3" message="+workers-horizontal-scale"/>
		<ee:transform doc:name="Extract domain details" doc:id="86d1e7c2-532c-46ac-9aa2-5bd77063f7d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.muleApps map (item, index) -> {
    "domain": item.domain,
    "workers": item.workers.amount
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="26459519-8a53-4971-9d0b-883e1dcbe5a2" collection="#[payload]" maxConcurrency="4">
			<ee:transform doc:name="Create request" doc:id="356c00a7-6050-45c8-8a89-1b1a15ba27fb" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"workers":{
		"amount": payload.workers
	}
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="PUT" doc:name="Request" doc:id="31cb296f-befe-4ac2-8fb3-6ca01fab60c8" config-ref="HTTP_Request_configuration" path="#[p('http.request.applications.path') ++ vars.domain]">
				<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : p('secure::cloudhub.envId'),
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:request>
		</parallel-foreach>
		<ee:transform doc:name="Filter message" doc:id="f74b1f51-c7da-4298-868e-91ba1f41e14e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	muleApps: payload map (item, index) -> {
		"domain": payload.payload[index].domain,
		"workers": payload.payload[index].workers,
		"status": payload.payload[index].status
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="812896ff-2e56-41fa-a637-48795f710532" />
		<logger level="INFO" doc:name="Logger" doc:id="3cbeff9c-6c08-4088-89fe-c7310e4000ad" message="-workers-horizontal-scale"/>
	</flow>
	<flow name="workers-horizontal-scale-increaseby" doc:id="d07a9c28-632a-4b89-b92b-02923817fcbd" >
		<logger level="INFO" doc:name="Logger" doc:id="57c3f5ec-e855-424e-a3e3-79073b4c2a52" message="+workers-horizontal-scale-increaseby"/>
		<ee:transform doc:name="Retain increments" doc:id="4bc160a5-1e65-46a1-9d19-a9ad661b2cce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="increments" ><![CDATA[%dw 2.0
output application/java
---
payload.muleApps map {
    ($.domain) : $.workers.amount
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="extract-current-worker-details" doc:id="238df784-e1db-42fb-9e6c-6a79b35e78f2" name="extract-details-then-enquire-workers"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="39500d23-f194-4610-aa2e-310eac7aa14b" collection="#[payload.muleApps]" maxConcurrency="4">
			<ee:transform doc:name="Get increment for domain" doc:id="eda3e592-796f-4f88-9811-346c33b19129" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="worker_incr" ><![CDATA[%dw 2.0
output application/java
---
vars.increments[payload.domain]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="get domain and worker numbers" doc:id="a89d70cf-6f7b-421f-ae56-f49b5d8558d7" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
					<ee:set-variable variableName="workers" ><![CDATA[%dw 2.0
output application/java
---
(payload.workers.amount + vars.worker_incr[0])]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Create request" doc:id="236c54a0-dba8-4fd3-8196-0e0e523d4e95" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"workers":{
		"amount": vars.workers[0] as Number
	}
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="PUT" doc:name="Request" doc:id="7ff35ba3-ad51-4521-ba54-8097419e6516" config-ref="HTTP_Request_configuration" path="#[p('http.request.applications.path') ++ vars.domain]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : p('secure::cloudhub.envId'),
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:request>
		</parallel-foreach>
		<ee:transform doc:name="Filter message" doc:id="d3b72e79-eb63-4d1e-8b42-b877a50bc6cf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	muleApps: payload map (item, index) -> {
		"domain": payload.payload[index].domain,
		"workers": payload.payload[index].workers,
		"status": payload.payload[index].status
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1a3cbfee-cfd1-4e44-b76f-8f3855cd6242" />
		<logger level="INFO" doc:name="Logger" doc:id="bc89381a-4307-4551-8fc3-06b9adb7aef5" message="-workers-horizontal-scale-increaseby" />
	</flow>
	<flow name="workers-horizontal-scale-decreaseby" doc:id="44bd335c-e40e-46da-b723-e32902fa14ff" >
		<logger level="INFO" doc:name="Logger" doc:id="a1fa5111-e3c6-43f0-9782-068231a9cca1" message="+#[flow.name]"/>
		<ee:transform doc:name="Retain decrements" doc:id="793e43e9-c100-4a4d-87c6-66cc572d9954">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="decrements" ><![CDATA[%dw 2.0
output application/java
---
payload.muleApps map {
    ($.domain) : $.workers.amount
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="extract-current-worker-details" doc:id="393d77b8-3721-49da-bf7d-af57f145beb6" name="extract-details-then-enquire-workers"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="87b52ca5-761e-498a-9691-99f81c39bc1b" collection="#[payload.muleApps]" maxConcurrency="4" >
			<ee:transform doc:name="Get decrement for domain" doc:id="fee439a3-9e2b-460c-b670-87d5a710a31c" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="worker_decr" ><![CDATA[%dw 2.0
output application/java
---
vars.decrements[payload.domain]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="get domain and worker numbers" doc:id="e8c1d9ec-b1fd-47fa-92e0-32aa041bffe2" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
					<ee:set-variable variableName="workers" ><![CDATA[%dw 2.0
output application/java
---
(payload.workers.amount - vars.worker_decr[0])]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Create request" doc:id="4577d587-cdfc-4962-aa08-280515a9f48c" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"workers":{
		"amount": vars.workers[0] as Number
	}
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
payload.domain]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="PUT" doc:name="Request" doc:id="1e000aae-d317-4441-bb25-b2676b299fef" config-ref="HTTP_Request_configuration" path="#[p('http.request.applications.path') ++ vars.domain]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : p('secure::cloudhub.envId'),
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:request>
		</parallel-foreach>
		<ee:transform doc:name="Filter message" doc:id="131d9914-712a-4f68-9add-f938fec7ed5b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	muleApps: payload map (item, index) -> {
		"domain": payload.payload[index].domain,
		"workers": payload.payload[index].workers,
		"status": payload.payload[index].status
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="568493b4-b104-499e-8992-beaedff12fd2" />
		<logger level="INFO" doc:name="Logger" doc:id="dffe619e-3cbe-457f-b567-c81a7cf78aec" message="-#[flow.name]" />
	</flow>
	<sub-flow name="extract-details-then-enquire-workers" doc:id="6c65ee5a-774d-44e9-a598-526a839d335d" >
		<ee:transform doc:name="Extract domain details" doc:id="0506b1e7-3caf-4452-97b4-6a4396d5d8fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.muleApps map (item, index) -> {
    "domain": item.domain
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="f86449ac-074f-4693-9f10-c38f209cce64" collection="#[payload]" maxConcurrency="4">
			<set-variable value="#[payload.domain]" doc:name="Set Variable" doc:id="ba7ae27a-a61e-420e-8d3e-6322d357a561" variableName="domain"/>
			<http:request method="GET" doc:name="Query workers" doc:id="1b0658ee-de63-4ef0-864c-a485b736cf68" config-ref="HTTP_Request_configuration" path="#[p('http.request.applications.path') ++ vars.domain]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : p('secure::cloudhub.envId')
}]]]></http:headers>
			</http:request>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="97ee3cc0-aa7c-4755-833a-27a52abe8f0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	muleApps: payload map (item, index) -> {
		"domain": payload.payload[index].domain,
		"workers": payload.payload[index].workers,
		"status": payload.payload[index].status
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
