src/main/mule/worker-scaling.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="worker-scaling-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="worker-scaling-config" api="resource::51323221-32f3-4e62-ab9e-709bcaad83e0:worker-scaling:2.0.0:raml:zip:worker-scaling.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="worker-scaling-main">
        <http:listener config-ref="worker-scaling-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="worker-scaling-config" />
        <error-handler ref="error-handler" />
    </flow>
    <flow name="worker-scaling-console">
        <http:listener config-ref="worker-scaling-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="worker-scaling-config" />
        <error-handler ref="error-handler" />
    </flow>
    <flow name="get:\workers\details:worker-scaling-config">
        <flow-ref doc:name="Flow Reference" doc:id="2c8d9f76-3977-4163-8113-ec5c7a944c97" name="get-workers-details" />
    </flow>
    <flow name="post:\workers\horizontalScale:application\json:worker-scaling-config">
        <flow-ref doc:name="Flow Reference" doc:id="0c21b271-72ff-4472-a2b3-5780957f8af2" name="workers-horizontal-scale" />
    </flow>
    <flow name="put:\workers\horizontalScale\decreaseBy:application\json:worker-scaling-config">
		<flow-ref doc:name="Flow Reference" doc:id="2a2fd37a-bd9c-4e35-a93e-75ac31063b01" name="workers-horizontal-scale-decreaseby"/>
    </flow>
    <flow name="put:\workers\horizontalScale\increaseBy:application\json:worker-scaling-config">
		<flow-ref doc:name="Flow Reference" doc:id="ec8dd5d3-26fa-4433-8ece-2c18f6f75a60" name="workers-horizontal-scale-increaseby"/>
    </flow>
</mule>
